/* Reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Body */
body{
    background-color: darkslategrey;

}
/* Header styles */
header{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
header>nav>ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 20px;
}
li{
    display: block;
    background-color: turquoise;
}
header li a{
    text-decoration: none;
    
}

/* Showcase styles */
.showcase{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.image-banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}