*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #000;
    background-color: goldenrod;
}
/* header{ } */
nav ul{
    list-style-type: none;
    width: 400px;
    font-size: large;
    display: flex;
}
nav.foot{
    display: flex;

}
li a{
    display: block;
    padding: 3px;
    margin: 2px;
    width: 100px;
    border: 2px solid ;
    background-color: slategrey;    
}
li a:hover{
    background-color: gold;
}
img#logo{
    width: 100pc;
    height: 450px;
    top: 0;
}
main{
    margin: auto;
}
dl dt{
    font-size:30px;
    text-decoration: underline;
    background-color: burlywood;


}
dl dd p{
    font-size: 20px;
    display: block;
    background-color: slategray;
}
iframe{
    width: 500px;
    height:500px; 
    border:3px;
}